# Setup

In [24]:
# imports

import pandas as pd
import psycopg2

In [ ]:
# database setup

dbname = "fma"
user = "postgres"
password =      # Enter your password here

# Read and Preprocess Metadata from csv

In [25]:
data = pd.read_csv("../fma-metadata/tracks.csv", index_col=0, header=[0, 1])
data.head()

            album                                                     \
         comments         date_created        date_released engineer
track_id
2               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
3               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
5               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
10              0  2008-11-26 01:45:08  2008-02-06 00:00:00      NaN
20              0  2008-11-26 01:45:05  2009-01-06 00:00:00      NaN

                                                                          \
         favorites id                                information listens
track_id
2                4  1                                    <p></p>    6073
3                4  1                                    <p></p>    6073
5                4  1                                    <p></p>    6073
10               4  6                                        NaN   47632
20               2  4  <p> "spiritual songs" from Nicky Cook</p>    2710

                        ...       track                         \
         producer tags  ... information interest language_code
track_id                ...
2             NaN   []  ...         NaN     4656            en
3             NaN   []  ...         NaN     1470            en
5             NaN   []  ...         NaN     1933            en
10            NaN   []  ...         NaN    54881            en
20            NaN   []  ...         NaN      978            en

                                                                              \
                                                    license listens lyricist
track_id
2         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1293      NaN
3         Attribution-NonCommercial-ShareAlike 3.0 Inter...     514      NaN
5         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1151      NaN
10        Attribution-NonCommercial-NoDerivatives (aka M...   50135      NaN
20        Attribution-NonCommercial-NoDerivatives (aka M...     361      NaN


         number publisher tags            title
track_id
2             3       NaN   []             Food
3             4       NaN   []     Electric Ave
5             6       NaN   []       This World
10            1       NaN   []          Freeway
20            3       NaN   []  Spiritual Level

[5 rows x 52 columns]

In [26]:
data.describe()

               album                                              \
            comments      favorites             id       listens
count  106574.000000  106574.000000  106574.000000  1.065740e+05
mean        0.394946       1.286927   12826.933914  3.212031e+04
std         2.268915       3.133035    6290.261805  1.478532e+05
min        -1.000000      -1.000000      -1.000000 -1.000000e+00
25%         0.000000       0.000000    7793.000000  3.361000e+03
50%         0.000000       0.000000   13374.000000  8.982000e+03
75%         0.000000       1.000000   18203.000000  2.363500e+04
max        53.000000      61.000000   22940.000000  3.564243e+06

                             artist                                \
              tracks       comments      favorites             id
count  106574.000000  106574.000000  106574.000000  106574.000000
mean       19.721452       1.894702      30.041915   12036.770404
std        39.943673       6.297679     100.511408    6881.420867
min        -1.000000      -1.000000      -1.000000       1.000000
25%         7.000000       0.000000       1.000000    6443.000000
50%        11.000000       0.000000       5.000000   12029.500000
75%        17.000000       1.000000      16.000000   18011.000000
max       652.000000      79.000000     963.000000   24357.000000

                                           track                 \
           latitude     longitude       bit_rate       comments
count  44544.000000  44544.000000  106574.000000  106574.000000
mean      39.901626    -38.668642  263274.695048       0.031621
std       18.240860     65.237220   67623.443584       0.321993
min      -45.878760   -157.526855      -1.000000       0.000000
25%       39.271398    -79.997459  192000.000000       0.000000
50%       41.387917    -73.554431  299914.000000       0.000000
75%       48.856930      4.351710  320000.000000       0.000000
max       67.286005    175.277000  448000.000000      37.000000

                                                                  \
            duration      favorites      interest        listens
count  106574.000000  106574.000000  1.065740e+05  106574.000000
mean      277.849100       3.182521  3.541310e+03    2329.353548
std       305.518553      13.513820  1.901743e+04    8028.070647
min         0.000000       0.000000  2.000000e+00       0.000000
25%       149.000000       0.000000  5.990000e+02     292.000000
50%       216.000000       1.000000  1.314000e+03     764.000000
75%       305.000000       3.000000  3.059000e+03    2018.000000
max     18350.000000    1482.000000  3.293557e+06  543252.000000


              number
count  106574.000000
mean        8.260945
std        15.243271
min         0.000000
25%         2.000000
50%         5.000000
75%         9.000000
max       255.000000

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106574 entries, 2 to 155320
Data columns (total 52 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   (album, comments)            106574 non-null  int64
 1   (album, date_created)        103045 non-null  object
 2   (album, date_released)       70294 non-null   object
 3   (album, engineer)            15295 non-null   object
 4   (album, favorites)           106574 non-null  int64
 5   (album, id)                  106574 non-null  int64
 6   (album, information)         83149 non-null   object
 7   (album, listens)             106574 non-null  int64
 8   (album, producer)            18060 non-null   object
 9   (album, tags)                106574 non-null  object
 10  (album, title)               105549 non-null  object
 11  (album, tracks)              106574 non-null  int64
 12  (album, type)                100066 non-null  object
 13  (artist, active_year_begin)  22711 non-null   object
 14  (artist, active_year_end)    5375 non-null    object
 15  (artist, associated_labels)  14271 non-null   object
 16  (artist, bio)                71156 non-null   object
 17  (artist, comments)           106574 non-null  int64
 18  (artist, date_created)       105718 non-null  object
 19  (artist, favorites)          106574 non-null  int64
 20  (artist, id)                 106574 non-null  int64
 21  (artist, latitude)           44544 non-null   float64
 22  (artist, location)           70210 non-null   object
 23  (artist, longitude)          44544 non-null   float64
 24  (artist, members)            46849 non-null   object
 25  (artist, name)               106574 non-null  object
 26  (artist, related_projects)   13152 non-null   object
 27  (artist, tags)               106574 non-null  object
 28  (artist, website)            79256 non-null   object
 29  (artist, wikipedia_page)     5581 non-null    object
 30  (set, split)                 106574 non-null  object
 31  (set, subset)                106574 non-null  object
 32  (track, bit_rate)            106574 non-null  int64
 33  (track, comments)            106574 non-null  int64
 34  (track, composer)            3670 non-null    object
 35  (track, date_created)        106574 non-null  object
 36  (track, date_recorded)       6159 non-null    object
 37  (track, duration)            106574 non-null  int64
 38  (track, favorites)           106574 non-null  int64
 39  (track, genre_top)           49598 non-null   object
 40  (track, genres)              106574 non-null  object
 41  (track, genres_all)          106574 non-null  object
 42  (track, information)         2349 non-null    object
 43  (track, interest)            106574 non-null  int64
 44  (track, language_code)       15024 non-null   object
 45  (track, license)             106487 non-null  object
 46  (track, listens)             106574 non-null  int64
 47  (track, lyricist)            311 non-null     object
 48  (track, number)              106574 non-null  int64
 49  (track, publisher)           1263 non-null    object
 50  (track, tags)                106574 non-null  object
 51  (track, title)               106573 non-null  object
dtypes: float64(2), int64(15), object(35)
memory usage: 43.1+ MB

In [64]:
# data[[("track", "title"), ("artist", "name")]].iloc[10:100]

In [28]:
data[("album", "date_created")] = pd.to_datetime(data[("album", "date_created")])
data[("album", "date_released")] = pd.to_datetime(data[("album", "date_released")])

data[("track", "date_created")] = pd.to_datetime(data[("track", "date_created")])
data[("track", "date_recorded")] = pd.to_datetime(data[("track", "date_recorded")])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106574 entries, 2 to 155320
Data columns (total 52 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   (album, comments)            106574 non-null  int64
 1   (album, date_created)        103045 non-null  datetime64[ns]
 2   (album, date_released)       70294 non-null   datetime64[ns]
 3   (album, engineer)            15295 non-null   object
 4   (album, favorites)           106574 non-null  int64
 5   (album, id)                  106574 non-null  int64
 6   (album, information)         83149 non-null   object
 7   (album, listens)             106574 non-null  int64
 8   (album, producer)            18060 non-null   object
 9   (album, tags)                106574 non-null  object
 10  (album, title)               105549 non-null  object
 11  (album, tracks)              106574 non-null  int64
 12  (album, type)                100066 non-null  object
 13  (artist, active_year_begin)  22711 non-null   object
 14  (artist, active_year_end)    5375 non-null    object
 15  (artist, associated_labels)  14271 non-null   object
 16  (artist, bio)                71156 non-null   object
 17  (artist, comments)           106574 non-null  int64
 18  (artist, date_created)       105718 non-null  object
 19  (artist, favorites)          106574 non-null  int64
 20  (artist, id)                 106574 non-null  int64
 21  (artist, latitude)           44544 non-null   float64
 22  (artist, location)           70210 non-null   object
 23  (artist, longitude)          44544 non-null   float64
 24  (artist, members)            46849 non-null   object
 25  (artist, name)               106574 non-null  object
 26  (artist, related_projects)   13152 non-null   object
 27  (artist, tags)               106574 non-null  object
 28  (artist, website)            79256 non-null   object
 29  (artist, wikipedia_page)     5581 non-null    object
 30  (set, split)                 106574 non-null  object
 31  (set, subset)                106574 non-null  object
 32  (track, bit_rate)            106574 non-null  int64
 33  (track, comments)            106574 non-null  int64
 34  (track, composer)            3670 non-null    object
 35  (track, date_created)        106574 non-null  datetime64[ns]
 36  (track, date_recorded)       6159 non-null    datetime64[ns]
 37  (track, duration)            106574 non-null  int64
 38  (track, favorites)           106574 non-null  int64
 39  (track, genre_top)           49598 non-null   object
 40  (track, genres)              106574 non-null  object
 41  (track, genres_all)          106574 non-null  object
 42  (track, information)         2349 non-null    object
 43  (track, interest)            106574 non-null  int64
 44  (track, language_code)       15024 non-null   object
 45  (track, license)             106487 non-null  object
 46  (track, listens)             106574 non-null  int64
 47  (track, lyricist)            311 non-null     object
 48  (track, number)              106574 non-null  int64
 49  (track, publisher)           1263 non-null    object
 50  (track, tags)                106574 non-null  object
 51  (track, title)               106573 non-null  object
dtypes: datetime64[ns](4), float64(2), int64(15), object(31)
memory usage: 43.1+ MB

In [43]:
print(len(data))
data = data.dropna(subset=[("track", "title")])
print(len(data))

106574
106573

# Create Database Connection

In [49]:
conn = psycopg2.connect(f"dbname={dbname} user={user} password={password}")
cursor = conn.cursor()

In [50]:
cursor.execute("""
    CREATE TABLE tracks (
        track_id            INT PRIMARY KEY,
        track_title         VARCHAR NOT NULL,
        track_bit_rate      INT,
        track_date_recorded DATE,
        track_duration      INT,
        track_genre_top     VARCHAR,
        track_genres        VARCHAR,
        track_language_code VARCHAR,
        track_tags          VARCHAR,
        track_publisher     VARCHAR,
        album_title         VARCHAR,
        album_tracks        INT,
        album_type          VARCHAR,
        album_date_released DATE,
        artist_name         VARCHAR,
        artist_location     VARCHAR
        )
               """)

In [51]:
for idx, row in data.iterrows():
    row = row.replace({pd.NaT: None})
    cursor.execute('''
                INSERT INTO tracks (track_id, track_title, track_bit_rate, track_date_recorded, track_duration, track_genre_top,
                track_genres, track_language_code, track_tags, track_publisher, album_title, album_tracks, album_type, album_date_released,
                artist_name, artist_location) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
                ''',
                (
                idx,
                row["track", "title"],
                row["track", "bit_rate"],
                row["track", "date_recorded"],
                row["track", "duration"],
                row["track", "genre_top"],
                row["track", "genres"],
                row["track", "language_code"],
                row["track", "tags"],
                row["track", "publisher"],
                row["album", "title"],
                row["album", "tracks"],
                row["album", "type"],
                row["album", "date_released"],
                row["artist", "name"],
                row["artist", "location"]
                ))

conn.commit()
cursor.close()
conn.close()

# Test database

In [68]:
# Create a cursor object to execute SQL queries
conn = psycopg2.connect(f"dbname={dbname} user={user} password={password}")
cursor = conn.cursor()

# Define the SQL query to retrieve the first ten items from the 'tracks' table
select_query = '''
    SELECT * FROM tracks
    LIMIT 10
'''

# Execute the SELECT query
cursor.execute(select_query)

# Fetch the first ten rows from the result set
rows = cursor.fetchall()

# Process and print the retrieved rows
for row in rows:
    print(row)

(2, 'Food', 256000, datetime.date(2008, 11, 26), 168, 'Hip-Hop', '[21]', 'en', '[]', None, 'AWOL - A Way Of Life', 7, 'Album', datetime.date(2009, 1, 5), 'AWOL', 'New Jersey')
(3, 'Electric Ave', 256000, datetime.date(2008, 11, 26), 237, 'Hip-Hop', '[21]', 'en', '[]', None, 'AWOL - A Way Of Life', 7, 'Album', datetime.date(2009, 1, 5), 'AWOL', 'New Jersey')
(5, 'This World', 256000, datetime.date(2008, 11, 26), 206, 'Hip-Hop', '[21]', 'en', '[]', None, 'AWOL - A Way Of Life', 7, 'Album', datetime.date(2009, 1, 5), 'AWOL', 'New Jersey')
(10, 'Freeway', 192000, datetime.date(2008, 11, 26), 161, 'Pop', '[10]', 'en', '[]', None, 'Constant Hitmaker', 2, 'Album', datetime.date(2008, 2, 6), 'Kurt Vile', None)
(20, 'Spiritual Level', 256000, datetime.date(2008, 1, 1), 311, None, '[76, 103]', 'en', '[]', None, 'Niris', 13, 'Album', datetime.date(2009, 1, 6), 'Nicky Cook', 'Colchester England')
(26, 'Where is your Love?', 256000, datetime.date(2008, 1, 1), 181, None, '[76, 103]', 'en', '[]', None, 'Niris', 13, 'Album', datetime.date(2009, 1, 6), 'Nicky Cook', 'Colchester England')
(30, 'Too Happy', 256000, datetime.date(2008, 1, 1), 174, None, '[76, 103]', 'en', '[]', None, 'Niris', 13, 'Album', datetime.date(2009, 1, 6), 'Nicky Cook', 'Colchester England')
(46, 'Yosemite', 256000, datetime.date(2008, 1, 1), 104, None, '[76, 103]', 'en', '[]', None, 'Niris', 13, 'Album', datetime.date(2009, 1, 6), 'Nicky Cook', 'Colchester England')
(48, 'Light of Light', 256000, datetime.date(2008, 1, 1), 205, None, '[76, 103]', 'en', '[]', None, 'Niris', 13, 'Album', datetime.date(2009, 1, 6), 'Nicky Cook', 'Colchester England')
(134, 'Street Music', 256000, datetime.date(2008, 11, 26), 207, 'Hip-Hop', '[21]', 'en', '[]', None, 'AWOL - A Way Of Life', 7, 'Album', datetime.date(2009, 1, 5), 'AWOL', 'New Jersey')

In [69]:
# Define the SQL query to retrieve items with artist_name = "Nirvana"
select_query = '''
    SELECT * FROM tracks
    WHERE artist_name = 'Bird Names' AND track_title = 'Nobody Loves Me'
'''

# Execute the SELECT query
cursor.execute(select_query)

# Fetch all rows from the result set
rows = cursor.fetchall()

# Process and print the retrieved rows
for row in rows:
    print(row)

(251, 'Nobody Loves Me', 256000, datetime.date(2006, 8, 26), 114, None, '[12, 76]', 'en', '[]', None, 'Wooden Lake Sexual Diner', 3, 'Album', datetime.date(2007, 1, 1), 'Bird Names', None)

In [ ]:
# Close the cursor and database connection
cursor.close()

### bester song ever: https://www.youtube.com/watch?v=MlTfiU6iVpw